<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Scratchblox Create Code</title>
</head>

<body>
    <h1>Hello {{username}}!</h1>
    <form method="POST">
        <div style="color: {{color}};">{{message}}</div>
        <label for="uses">Uses: </label>
        <input type="number" name="uses" id="uses">
        <label for="uses">Amount: </label>
        <input type="number" name="amount" id="amount">
        </br>
        <button type="submit">Create Code!</button>
    </form>
</body>
</html>