<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Scratchblox Ranker</title>
</head>

<body>
    <h1>Hello {{username}}</h1>
    <form method="POST">
        <div style="color: {{color}};">{{message}}</div>
        <label for="username">Username: </label>
        <input type="name" name="username" id="username">
        </br>
        <label for="rank">Rank: </label>
        <input type="number" name="rank" id="rank">
        </br>
        <button type="submit">Rank!</button>
    </form>
</body>
</html>